<% layout("listings/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br /><br />
    <h3>Create a New Listing</h3>
    <br /><br />
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        
        <div class="mb-3"> 
            <lable for="title" class="form-label">Title</lable>
        <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
        <div class="valid-feedback">Great Title!</div>
        <div class="invalid-feedback">Title is required</div>
        </div>
        <div class="mb-3"> 
            <lable for="description" class="form-label">Description</lable>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please write brief description</div>
        </div>
       
     <div class="mb-3">
        <lable for="image" class="form-label">Upload Image</lable>
        <input name="listing[image]"  type="file" class="form-control">
        required
     </div>
     <div class="row">
        <div class="mb-3 col-md-4"> 
            <lable for="price" class="form-label">Price</lable>
            <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
            <div class="invalid-feedback">Price is required</div>
         </div>
         <div class="mb-3 col-md-8">
            <lable for="country" class="form-label">Country</lable>
            <input name="listing[country]" placeholder="Enter Country " type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid Country name</div>
         </div>
    </div>
     <div class="mb-3">
        <lable for="location" class="form-label">Location</lable>
        <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid location</div>
     </div>
       <br /><br />
        <button class="btn btn-dark add-btn ">Add</button>
        <br /><br />
    </form>
</div>
</div>
</body>
